# cp env.example .env

API_NAME=tracker
API_HOST=0.0.0.0
API_PORT=6000
API_LOGLEVEL=debug

DB_HOST=postgres
DB_PORT=5432
DB_PUBLIC_PORT=6010
DB_USER=tracker
DB_PASS=secret
DB_NAME=tracker
DB_MAX_CONNECTION_POOL=4
